services:
  - type: web
    name: clinica-espe-backend
    env: docker
    rootDir: .
    dockerfilePath: Dockerfile
    plan: free
    autoDeploy: true
    envVars:
      - key: DB_HOST
        sync: false
      - key: DB_PORT
        sync: false
      - key: DB_NAME
        sync: false
      - key: DB_USER
        sync: false
      - key: DB_PASS
        sync: false

staticSites:
  - name: clinica-espe-frontend
    rootDir: clinica-espe
    buildCommand: npm install && npm run build
    publishPath: build
    routes:
      - type: rewrite
        source: "/*"
        destination: "/index.html"
