services:
  - type: web
    name: clinica-espe-backend
    env: docker
    rootDir: .
    dockerfilePath: Dockerfile
    plan: free
    autoDeploy: true
    envVars:
      - key: DB_HOST
        sync: false
      - key: DB_PORT
        sync: false
      - key: DB_NAME
        sync: false
      - key: DB_USER
        sync: false
      - key: DB_PASS
        sync: false

  - type: web
    name: clinica-espe-frontend
    env: docker
    rootDir: clinica-espe
    dockerfilePath: Dockerfile
    plan: free
    autoDeploy: true
    envVars:
      - key: REACT_APP_API_BASE_URL
        value: https://clinica-espe-backend.onrender.com
        sync: false
